<div id="admin-dashboard-users" class="outlet-container">
  <div class="row">
    <div class="col-md-12">
      <table *ngIf="users.length > 0">
        <thead>
          <td>Email</td>
          <td>First Name</td>
          <td>Last Name</td>
        </thead>
        <tr *ngFor="let user of users">
          <td><a routerLink="/users/{{user._id}}">{{user.email}}</a></td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
